ul {
  list-style: none;
  text-decoration: none;
}
nav{
    background-color: rosybrown;
    min-height: 30px;
    margin-top: 10px;
  

}
nav ul{
  display: flex;
  align-content: center;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding: 1em;

}
.title{
    font-weight: 200;
    font-size: x-large;
    padding-right: 1em;
}

.album-art{
    max-width: 200px;
    max-height: 200px;
    border-style: double;
    border-width: 1em;
    border-radius: 20px;
}
.artist-art{
    max-width: 200px;
    border-style: double;
    border-width: 1em;
    border-radius: 20px;
}
.top-rated-albums{
background-color: sandybrown;
}
.top-rated-artists{
    background-color: seagreen;
}
.recently-added{
    background-color: slateblue;
}
.index-page-grid{
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
}
h1{
   text-align: center;
}