ul {
  list-style: none;
  text-decoration: none;
}
nav{
    background-color: rosybrown;
    min-height: 30px;
    margin-top: 10px;

}
nav a{
    font-size: large;
    text-decoration: none;
}
nav a:hover{ background-color:rgba(255,255, 255, .7);
    border-radius: 10px;
    padding:10px;
}
nav ul{
  display: flex;
  align-content: center;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding: 1em;

}
.title{
    font-weight: 200;
    font-size: x-large;
    padding-right: 1em;
}
.artist-albums ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.artist-container{
    display:grid;
    grid-template-rows: 3fr 2fr;
    background-color:grey;
}
.album-description{
    display:grid;
    flex-wrap: wrap;
    padding-left: 3em;
}
.album-details ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.artist-grid{
    display: flex;
    flex-flow: column wrap;
    background-color: green;
}
.artist-grid li{
    display:flex;
    padding: 1em;
}
.artist-grid-item2{
    justify-self: center;
    padding-top: 5px;
}
.album-art{
    max-width: 200px;
    max-height: 200px;
    border-style: double;
    border-width: 1em;
    border-radius: 20px;
}
.artist-art{
    max-width: 200px;
    border-style: double;
    border-width: 1em;
    border-radius: 20px;
}
.single-artist-art{
    max-width: 400px;
    border-style: double;
    border-width: 1em;
    border-radius: 20px;
}
.artist-info{
    display:grid;
    grid-template-columns: 1fr 2fr;
    background-color:slateblue;
}
.top-rated-albums{
background-color: sandybrown;
text-align: center;
}
.top-rated-artists{
    background-color: seagreen;
    text-align: center;
}
.recently-added{
    background-color: slateblue;
    text-align: center;
}
.index-page-grid{
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
}
h1{
   text-align: center;
}
